body{
    /* background-color: black; */
    position: absolute;
    left: 400px;
    top: 300px;
    /* align-items: center; */
    display: flex;
}
#btn1{ 
    position: relative;
    left: 100px;
    padding: 10px;
    color: red;
}
#btn2{
    position: relative;
    left: 200px;
    color: green;
    /* align-items: center; */

}
#btn3{
    position: relative;
    left: 300px;
    color: red;

}
#da{
    position: absolute;
    right: 400px;
    bottom: 10px;
}